<h2>Select List of Winners from Matchups</h2>
<%= link_to "Matchups", matchups_path %>

<h2>Make Adjustments to League Memberships</h2>
<%= link_to "Memberships", memberships_path %>

<h2>Make Adjustments to League Settings</h2>
<%= link_to "Leagues", leagues_path %>
